*,
*::before,
*::after {
  box-sizing: border-box;
}

*:hover,
*:active,
*:focus,
*:focus-within {
  transition: background-color 0.2s, color 0.2s, border 0.2s, opacity 0.2s;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
