

/* Переменные для VIEW-PORT-SIZE */
$view-port-mobile: 320px;
$view-port-tablet: 768px;
$view-port-desktop: 1440px;

/* Переменная для использования названия шрифта */
$primary-font: "Oswald","Arial", sans-serif;
$secondary-font: "Lato", "Arial", sans-serif;

/* TEXT-COLORS */
$color-basis: #000000;
$color-accent: #ffffff;
$color-paragraph: #444444;
$color-text-heading:#222222;
$color-linear: #ebebeb;
$color-linear-block: #cdcdcd;


/* BACKGROUND-COLORS  */
$bg-basis-dark: #000000;
$bg-basis: #ffffff;
$bg-button:#68b738;
$bg: #f2f2f2;
$bg-dark:#eaeaea;
$bg-light: #666666;


/* PADDING  */
$padding-mobile: 0 20px;
$padding-tablet: 0 30px;
$padding-desktop: 0 110px;
