.additional {
  position: relative;
}

.additional::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $color-linear-block;
  top: 0;
}

.additional:last-child::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $color-linear-block;
  bottom: -19px;
}

.additional--modifier-first::before {
  transform: translateY(-2px);
}

.additional--modifier-second::before {
  margin-top: -2px;
}

.additional__title {
  @include fonttitle;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-text-heading;
  padding-top: 13px;
  margin-bottom: 13px;
}

.additional__list {
  @include font-paragraph;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.additional__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  width: 100%;
}

@media (min-width: $view-port-tablet) and (max-width: ($view-port-desktop - 1)) {
  .additional {
    width: 100%;
    padding-left: 38px;
    padding-right: 38px;
    margin-bottom: 0;
    padding-top: 0;
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 26px 1fr 20px auto;
    column-gap: 182px;
  }

  .additional::before {
    background-color: $color-linear-block;
  }

  .additional__title {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0;
    padding-top: 0;
    justify-content: start;
    align-items: start;
    font-size: 20px;
    line-height: 20px;
    max-width: 163px;
    min-height: 25px;
  }

  .additional__list {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    gap: 9px;
    width: 223px;
  }

  .additional__button {
    grid-column: -1 / 1;
    grid-row: 4 / 5;
    width: 632px;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 28px;
  }

  .additional__name {
    width: 132px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .additional__description {
    width: 42px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
  }

  .additional__description--modifier-first {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .additional-products__banner {
    width: 707px;
    min-height: 202px;
  }
}

@media (min-width: $view-port-desktop) {
  .additional {
    width: 894px;
    padding-top: 0;
    display: grid;
    grid-template-columns: 161px 164px 285px 40px 244px;
    grid-auto-rows: auto;
    align-items: center;
  }

  .additional__title {
    grid-column: 1 / 2;
    margin: 0;
    padding-top: 0;
    justify-content: start;
    align-items: start;
    font-size: 20px;
    line-height: 20px;
    max-width: 163px;
    min-height: 25px;
    padding-left: 2px;
  }

  .additional__list {
    grid-column: 3 / 4;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    gap: 9px;
    width: 285px;
    padding-left: 1px;
  }

  .additional__button {
    grid-column: 5 / 6;
    width: 244px;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 17px;
  }

  .additional__name {
    width: 132px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .additional__description {
    width: 42px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
  }

  .additional__description--modifier-first {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .additional-products__banner {
    width: 245px;
    min-height: 202px;
  }

  .additional:last-child::after {
    bottom: 0;
  }
}
