.advantages {
  padding-top: 20px;
  padding-bottom: 49px;
}

.advantages__wrapper {
  @include wrapper-center-mobile;
}

.advantages__heading {
  @include fonttitle;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
}

.advantages__list {
  @include list;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 0;
  padding: 0;
}

.advantages__item {
  min-height: 60px;
  width: 280px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.advantages__paragraph {
  @include font-paragraph;
  width: 200px;
  transform: translateY(-1px);
}

.advantages__item--first::before {
  display: block;
  content: "";
  width: 60px;
  height: 60px;
  background-color: $bg-button;
  background-image: url("../../icons/stack.svg#advantages__item-first");
  background-size: 30px 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item--second::before {
  display: block;
  content: "";
  width: 60px;
  height: 60px;
  background-color: $bg-button;
  background-image: url("../../icons/stack.svg#advantages__item-second");
  background-size: 26px 28px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item--third::before {
  display: block;
  content: "";
  width: 60px;
  height: 60px;
  background-color: $bg-button;
  background-image: url("../../icons/stack.svg#advantages__item-third");
  background-size: 25px 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item--fourth::before {
  display: block;
  content: "";
  width: 60px;
  height: 60px;
  background-color: $bg-button;
  background-image: url("../../icons/stack.svg#advantages__item-fourth");
  background-size: 26px 31px;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $view-port-tablet) and (max-width: ($view-port-desktop - 1)) {
  .advantages__wrapper {
    @include wrapper-center-tablet;
  }

  .advantages {
    padding-top: 45px;
    padding-bottom: 47px;
  }

  .advantages__heading {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 37px 136px;
    margin-right: 77px;
  }

  .advantages__item {
    min-width: 230px;
    min-height: 280px;
    padding: 0;
    counter-increment: chapter 1;
    position: relative;
    display: block;
  }

  .advantages__item::after {
    @include fonttitle;
    position: absolute;
    width: 100%;
    font-size: 280px;
    line-height: 280px;
    color: $bg;
    content: counter(chapter);
    top: 0;
    padding-left: 115px;
    z-index: -1;
  }

  .advantages__paragraph {
    width: 246px;
    min-height: 72px;
    font-size: 16px;
    line-height: 24px;
    z-index: 2;
  }

  // .advantages__paragraph-nowrap {
  //   white-space: nowrap;
  // }

  .advantages__item--first::before {
    margin-top: 40px;
    margin-bottom: 31px;
    width: 80px;
    height: 80px;
    mask-size: 30px 32px;
  }

  .advantages__item--second::before {
    margin-top: 40px;
    margin-bottom: 31px;
    width: 80px;
    height: 80px;
    mask-size: 26px 28px;
  }

  .advantages__item--third::before {
    margin-top: 40px;
    margin-bottom: 31px;
    width: 80px;
    height: 80px;
    mask-size: 25px 30px;
  }

  .advantages__item--fourth::before {
    margin-top: 40px;
    margin-bottom: 31px;
    width: 80px;
    height: 80px;
    mask-size: 26px 31px;
  }
}

@media (min-width: $view-port-desktop) {
  .advantages__wrapper {
    @include wrapper-center-desktop;
  }

  .advantages {
    padding-top: 71px;
    padding-bottom: 40px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 74px;
  }

  .advantages__item {
    width: 230px;
    min-height: 280px;
    padding: 0;
    counter-increment: chapter 1;
    position: relative;
    display: block;
    z-index: 2;
  }

  .advantages__item::after {
    @include fonttitle;
    position: absolute;
    width: 112px;
    min-height: 280px;
    font-size: 280px;
    line-height: 280px;
    color: $bg;
    content: counter(chapter);
    top: 0;
    padding-left: 115px;
    z-index: -1;
  }

  .advantages__heading {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .advantages__paragraph {
    width: 245px;
    min-height: 72px;
    font-size: 16px;
    line-height: 24px;
  }

  .advantages__paragraph-nowrap {
    white-space: nowrap;
  }

  .advantages__item--first::before {
    margin-top: 40px;
    margin-bottom: 31px;
    width: 80px;
    height: 80px;
    mask-size: 30px 32px;
  }

  .advantages__item--second::before {
    margin-top: 40px;
    margin-bottom: 31px;
    width: 80px;
    height: 80px;
    mask-size: 26px 28px;
  }

  .advantages__item--third::before {
    margin-top: 40px;
    margin-bottom: 31px;
    width: 80px;
    height: 80px;
    mask-size: 25px 30px;
  }

  .advantages__item--fourth::before {
    margin-top: 40px;
    margin-bottom: 31px;
    width: 80px;
    height: 80px;
    mask-size: 26px 31px;
  }
}
