.banner {
  width: 280px;
  min-height: 290px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 0% 100%), image-set(url("../../images/banner-cat-bg-catalog-mobile@1x.webp") type("image/webp") 1x, url("../../images/banner-cat-bg-catalog-mobile@2x.webp") type("image/webp") 2x, url("../../images/banner-cat-bg-catalog-mobile@1x.png") type("image/png") 1x, url("../../images/banner-cat-bg-catalog-mobile@2x.png") type("image/png") 2x), linear-gradient(#323232 0% 100%, #434343 0% 100%);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%, 279px 289px, 100% 100%;
  text-align: center;
  position: relative;
}

.banner::before {
  content: "";
  display: block;
  width: 78px;
  height: 139px;
  mask-image: url("../../icons/stack.svg#basket");
  mask-repeat: no-repeat;
  mask-size: 78px 80px;
  background-color: $bg-basis;
  position: absolute;
  left: 50%;
  top: 59px;
  transform: translate(-50%, 0);
}

.banner__title {
  @include font-paragraph;
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: $bg-basis;
  padding-top: 187px;
  padding-left: 58px;
  padding-right: 61px;
  text-align: center;
}

@media (min-width: $view-port-tablet) and (max-width: ($view-port-desktop - 1)) {
  .banner {
    width: 707px;
    min-height: 200px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85) 0% 100%), image-set(url("../../images/banner-cat-bg-catalog-tablet@1x.webp") type("image/webp") 1x, url("../../images/banner-cat-bg-catalog-tablet@2x.webp") type("image/webp") 2x, url("../../images/banner-cat-bg-catalog-tablet@1x.png") type("image/png") 1x, url("../../images/banner-cat-bg-catalog-tablet@2x.png") type("image/png") 2x), linear-gradient(#323232 0% 100%, #434343 0% 100%);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 100% 100%, 96.5% auto, 100% 100%;
    text-align: center;
    position: relative;
    display: flex;
  }

  .banner::before {
    mask-size: 80px 82px;
    left: 16.5%;
    top: 28%;
  }

  .banner__title {
    padding: 0;
    padding-top: 70px;
    padding-bottom: 20px;
    padding-left: 422px;
    text-align: left;
  }
}

@media (min-width: $view-port-desktop) {
  .banner {
    width: 245px;
    min-height: 288px;
    background-position: right center;
  }

  .banner__title {
    padding-top: 185px;
    padding-left: 42px;
    padding-right: 42px;
    text-align: center;
  }
}
