.button-slider {
  position: relative;
  display: block;
  border-radius: 2px;
  background-color: $bg-light;
  border: none;
  padding: 0;
}

.button-slider::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid $bg-light;
  background-color: $bg-basis;
}

.button-slider::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  content: "";
  display: block;
  width: 24px;
  height: 18px;
  mask-image: url("../../icons/stack.svg#button-slider");
  mask-size: 24px 18px;
  mask-repeat: no-repeat;
  background-color: $bg-light;
}

.button-slider:not(:disabled):hover,
.button-slider:not(:disabled):hover::before {
  background-color: $bg-button;
}

.button-slider:not(:disabled):hover::after {
  border: 2px solid $bg-button;
}

.button-slider:not(:disabled):active,
.button-slider:not(:disabled):active::before {
  background-color: #5eaa2f;
}

.button-slider:not(:disabled):active::after {
  border: 2px solid #5eaa2f;
}

.button-slider:disabled:active,
.button-slider:disabled:active::before,
.button-slider:disabled:active::after {
  cursor: default;
}

@media (min-width: $view-port-tablet) and (max-width: ($view-port-desktop - 1)) {
  .button-slider {
    height: 512px;
  }
}

@media (min-width: $view-port-desktop) {
  .button-slider {
    height: 512px;
  }
}
