/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.button {
  @include fonttitle;
  @include link;
  padding: 4px 20px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-accent;
  background-color: $bg-button;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}

.button:hover {
  background-color: $bg-button;
}

.button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.button__button--action {
  margin-top: -3px;
  color: $color-paragraph;
  background-color: $bg;
}

.button__button--action:hover,
.button__button--action:active {
  background-color: $color-linear;
  color: #444444;
}

.button--current {
  @include button;
  font-size: 20px;
  line-height: 26px;
  justify-content: center;
  align-content: center;
}

@media (min-width: $view-port-tablet) and (max-width: ($view-port-desktop - 1)) {
  .button {
    font-size: 20px;
    line-height: 26px;
  }

  .button__card--modifier {
    font-size: 16px;
    line-height: 20px;
  }

  .button__button--action {
    transform: translateY(-81px);
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $view-port-desktop) {
  .button {
    font-size: 20px;
    line-height: 26px;
    padding: 5px 20px;
  }

  .button__card--modifier {
    font-size: 16px;
    line-height: 20px;
  }

  .button__button--action {
    transform: translateY(-82px);
    font-size: 16px;
    line-height: 20px;
  }
}
