.catalog {
  margin: 0 auto;
  width: $view-port-mobile;
}

.catalog__wrapper {
  width: $view-port-mobile;
  margin: 0 auto;
  padding: 40px 20px;
}

.catalog__wrapper-modifier {
  padding: 0;
}

.catalog__heading {
  @include fonttitle;
  padding: 0 20px;
  position: relative;
  font-size: 36px;
  line-height: 36px;
  padding-top: 28px;
  margin-bottom: 41px;
}

.catalog__list {
  @include list;
}

.catalog__item {
  padding: 0 20px;
  margin-bottom: 25px;
  position: relative;
}

.catalog__item::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $color-linear;
  top: -2px;
}

.catalog__item:last-child::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $color-linear;
  bottom: -24px;
}

@media (min-width: $view-port-tablet) and (max-width: ($view-port-desktop - 1)) {
  .catalog {
    width: $view-port-tablet;
  }

  .catalog__wrapper {
    @include wrapper-center-tablet;
    padding-top: 27px;
  }

  .catalog__heading {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 84px;
    padding: 0;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 60px 60px;
  }

  .catalog__item {
    min-height: 511px;
    background: linear-gradient($bg-basis 15.85%, $bg 15.85% 84.14%, $bg 84.14%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left top;
    margin-bottom: 0;
  }

  .catalog__wrapper::before,
  .catalog__list::before,
  .catalog__item::before,
  .catalog__item:last-child::after {
    display: none;
  }

  .catalog__item:last-child {
    left: 0;
    width: 100%;
    max-height: 1px;
    bottom: -24px;
  }
}

@media (min-width: $view-port-desktop) {
  .catalog {
    width: $view-port-desktop;
  }

  .catalog__wrapper {
    @include wrapper-center-desktop;
    padding-top: 47px;
  }

  .catalog__heading {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 84px;
    padding-left: 0;
  }

  .catalog__list {
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 63px 80px;
  }

  .catalog__item {
    min-height: 511px;
    background: linear-gradient($bg-basis 15.85%, $bg 15.85% 84.14%, $bg 84.14%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left top;
    margin-bottom: 0;
  }

  .catalog__wrapper::before,
  .catalog__list::before,
  .catalog__item::before,
  .catalog__item:last-child::after {
    display: none;
  }

  .catalog__item:last-child {
    left: 0;
    width: 100%;
    max-height: 1px;
    bottom: -24px;
  }
}
