.item-stats {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  height: 100%;
  position: relative;
}

.item-stats::before {
  position: absolute;
  content: "";
  display: block;
  outline: 1px solid $color-linear-block;
  height: 100%;
  width: 100%;
  bottom: 14px;
  border-radius: 3px;
}

.item-stats__number {
  @include fonttitle;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 7px;
  text-align: center;
  text-transform: uppercase;
}

.item-stats__description {
  @include font-paragraph;
  padding-left: 15px;
  padding-right: 15px;
  width: 87px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: $bg-dark;
  transform: translate(-1px, 2px);
}

.item-stats__description--modif {
  width: 87px;
}

@media (min-width: $view-port-tablet) and (max-width: ($view-port-desktop - 1)) {
  .item-stats__number {
    margin-top: 15px;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 11px;
    text-transform: uppercase;
  }

  .item-stats::before {
    height: 92%;
    top: 0;
  }

  .item-stats__description {
    padding-left: 10px;
    padding-right: 9px;
    width: 116px;
    font-size: 14px;
    line-height: 14px;
    background-color: $bg-basis;
    transform: translate(0, 0);
  }

  .item-stats__description--modif {
    width: 144px;
  }
}

@media (min-width: $view-port-desktop) {
  .item-stats__number {
    margin-top: 15px;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 11px;
    text-transform: uppercase;
  }

  .item-stats::before {
    height: 92%;
    top: 0;
  }

  .item-stats__description {
    padding-left: 8px;
    padding-right: 9px;
    width: 116px;
    font-size: 14px;
    line-height: 14px;
    background-color: $bg-dark;
    transform: translate(0, 0);
  }

  .item-stats__description--modif {
    width: 144px;
  }
}
