.main-nav__list {
  @include list;
}

.main-nav__toggle {
  @include button;
  padding: 0;
  position: absolute;
  right: 21px;
  top: 23px;
  display: block;
  cursor: pointer;
  z-index: 2;
  background-color: $bg-basis;

  &:hover,
  &:active {
    opacity: 0.6;
  }
}

.main-nav--opened .main-nav__list {
  @include list;
  display: flex;
  position: absolute;
  background: $bg-basis;
  z-index: 2;
  transform: translateX(-20px);
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  mask-image: url("../../icons/stack.svg#main-nav__toggle-close");
  mask-repeat: no-repeat;
  mask-size: 23px 20px;
  background-color: $bg-basis-dark;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  mask-image: url("../../icons/stack.svg#main-nav__toggle");
  mask-repeat: no-repeat;
  mask-size: 24px 24px;
  background-color: $bg-basis-dark;
  transform: translate(1px, -2px);
}

.main-nav--closed .site-list__item {
  display: none;
}

.main-nav--nojs .site-list__item,
.main-nav--nojs .main-nav__list {
  @include list;
  display: flex;
  position: static;
  margin: 0 auto;
}

.main-nav--nojs .main-nav__toggle::before {
  display: none;
}

.main-nav--nojs .site-list__item::before {
  display: none;
}

@media (min-width: $view-port-tablet) and (max-width: ($view-port-desktop - 1)) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    position: relative;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 437px;
    margin-top: 13px;
    gap: 34px;
  }

  .main-nav--opened .site-list__item {
    display: flex;
    flex-flow: row wrap;
    left: 0;
  }
}


@media (min-width: $view-port-desktop) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    position: relative;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 478px;
    margin-top: 12px;
    background: none;
  }

  .main-nav--opened .site-list__item {
    display: flex;
    flex-flow: row wrap;
    left: 0;
  }
}
