.main-header {
  top: 0;
  min-height: 100%;
  background-color: $bg-basis;
}

.main-header__wrapper {
  position: relative;
  padding: 13px 20px 0;
  width: $view-port-mobile;
  margin: 0 auto;
}

.main-header__wrapper--modifier-catalog::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $color-linear;
  top: 100%;
  z-index: 2;
  transform: translateY(-1px);
}

.main-header__wrapper-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  min-height: 38px;
  padding-bottom: 14px;
}

.main-header__logo {
  display: flex;
  gap: 56px;
  align-items: center;
  flex-wrap: wrap;
  width: 220px;
  height: 38px;
}

.main-header__main-nav {
  padding-top: 1px;
}

@media (min-width: $view-port-tablet) and (max-width: ($view-port-desktop - 1)) {
  .main-header {
    position: static;
  }

  .main-header__wrapper {
    padding: 25px 30px 0;
    width: $view-port-tablet;
    margin: 0 auto 38px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .main-header__wrapper--modifier-catalog::after {
    display: none;
  }

  .main-header__wrapper-logo {
    gap: 20px;
    padding-bottom: 0;
    width: 174px;
  }

  .main-header__logo {
    gap: 13px;
    width: 174px;
    height: 50px;
  }

  .main-header__main-nav {
    margin-top: 0;
    transform: translateX(16px);
  }
}

@media (min-width: $view-port-desktop) {
  .main-header {
    min-height: 114px;
    background: none;
    position: static;
  }

  .main-header__wrapper {
    padding: 55px 110px 0;
    width: $view-port-desktop;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .main-header__wrapper--modifier-catalog::after {
    display: none;
  }

  .main-header__wrapper-logo {
    gap: 20px;
    padding-bottom: 0;
    min-height: 59px;
  }

  .main-header__logo {
    gap: 14px;
    width: 475px;
    height: 59px;
  }

  .main-header__main-nav {
    margin-top: 0;
    transform: translateX(20px);
  }
}
