.nutrition {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 63%, $bg-basis 37%), image-set(url("../../images/nutrition-cat-bg-index-mobile@1x.webp") type("image/webp") 1x, url("../../images/nutrition-cat-bg-index-mobile@2x.webp") type("image/webp") 2x, url("../../images/nutrition-cat-bg-index-mobile@1x.jpg") type("image/jpeg") 1x, url("../../images/nutrition-cat-bg-index-mobile@2x.jpg") type("image/jpeg") 2x), linear-gradient(#4f4f54 0% 100%, #434348 0% 100%);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%, 320px 302px, 100% 63%;
}

.nutrition__wrapper {
  width: $view-port-mobile;
  padding: $padding-mobile;
  margin: 0 auto;
}

.nutrition__heading {
  @include fonttitle;
  display: block;
  font-size: 36px;
  line-height: 36px;
  color: $color-accent;
  padding-top: 27px;
  margin-bottom: 25px;
  text-align: center;
}

.nutrition__paragraph {
  @include fonttitle;
  display: block;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $color-accent;
  margin-bottom: 29px;
  padding-left: 40px;
}

.nutrition__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  width: 100%;
}

.nutrition__img {
  width: 280px;
  height: 270px;
}

.nutrition__img-wrapper {
  width: 280px;
  height: 270px;
  margin-bottom: 3px;
}

@media (min-width: $view-port-tablet) and (max-width: ($view-port-desktop - 1)) {
  .nutrition {
    padding-top: 28px;
    background-image: none;
    margin: 0;
  }

  .nutrition__wrapper {
    position: relative;
    text-align: start;
    width: $view-port-tablet;
    padding: $padding-tablet;
    padding-left: 120px;
  }

  .nutrition__heading {
    padding: 0;
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    color: $color-basis;
    width: 414px;
    margin-bottom: 40px;
  }

  .nutrition__paragraph-nowrap {
    white-space: nowrap;
  }

  .nutrition__paragraph {
    text-align: start;
    padding-left: 0;
    font-size: 20px;
    line-height: 20px;
    color: $color-basis;
    width: 414px;
    margin-bottom: 20px;
  }

  .nutrition__button {
    position: absolute;
    width: 242px;
    min-height: 54px;
    left: 0;
    transform: translate(121px, -579px);
  }

  .nutrition__img {
    display: block;
    width: 709px;
    height: 609px;
  }

  .nutrition__img-wrapper {
    transform: translate(-91px, 0);
    width: 709px;
    height: 609px;
    margin-bottom: 0;
  }
}

@media (min-width: $view-port-desktop) {
  .nutrition {
    padding-top: 29px;
    padding-bottom: 52px;
    background-image: none;
  }

  .nutrition__wrapper {
    width: $view-port-desktop;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 110px 80px 414px 505px 221px 110px 1fr;
    grid-template-rows: auto;
    text-align: left;
    align-items: end;
  }

  .nutrition__heading {
    width: 420px;
    margin-top: 81px;
    margin-bottom: 40px;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    color: $color-basis;
    text-align: left;
  }

  .nutrition__paragraph {
    width: 414px;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    margin: 0 0 52px;
    display: grid;
    font-size: 20px;
    line-height: 20px;
    color: $color-basis;
    text-align: left;
    padding-left: 0;
  }

  .nutrition__button {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    margin-bottom: 52px;
    min-height: 54px;
    width: 244px;
  }

  .nutrition__img-wrapper {
    grid-column: 5 / 6;
    grid-row: 1 / 5;
    margin-bottom: 0;
    align-self: start;
    height: 499px;
    width: 552px;
  }

  .nutrition__img {
    display: block;
    transform: translate(-48px, 0);
    height: 499px;
    width: 552px;
  }
}
