.site-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-list__item {
  @include list;
  display: flex;
  position: relative;
  flex-shrink: 0;
}

.site-list__item::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: $color-linear;
}

.site-list__item:last-child::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: $color-linear;
}

.site-list__navigation-link {
  @include link;
  @include fonttitle;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 22px 0 24px;
  width: $view-port-mobile;
  text-align: center;
}

.site-list__navigation-link[aria-current="page"]:hover {
  opacity: 0.6;
}

.site-list__navigation-link[aria-current="page"]:focus {
  opacity: 0.3;
}

@media (min-width: $view-port-tablet) and (max-width: ($view-port-desktop - 1)) {
  .site-list__item {
    min-height: 34px;
    max-width: 154px;
  }

  .site-list__item::before,
  .site-list__item:last-child::after {
    display: none;
  }

  .site-list__navigation-link {
    padding: 0;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    color: $color-basis;
  }

  .site-list__navigation-link[aria-current="page"] {
    text-decoration: underline 2px solid $bg-button;
    text-underline-offset: 10px;
  }
}

@media (min-width: $view-port-desktop) {
  .site-list {
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }

  .site-list__item {
    max-width: 475px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 33px;
  }

  .site-list__item::before,
  .site-list__item:last-child::after {
    display: none;
  }

  .site-list__navigation-link {
    padding: 0;
    width: 100%;
    font-size: 20px;
    line-height: 100%;
    color: $color-basis;
  }

  .site-list__navigation-link--modoifier {
    color: $color-accent;
  }

  .site-list__navigation-link[aria-current="page"] {
    text-decoration: underline 2px solid $bg-button;
    text-underline-offset: 11px;
  }

  .site-list__navigation-link--modoifier[aria-current="page"] {
    text-decoration: underline 2px solid $bg-basis;
    text-underline-offset: 11px;
  }

  .site-list__item:first-child {
    margin-right: 33px;
  }

  .site-list__item:last-child {
    margin-right: 0;
  }
}
