.stats__wrapper {
  width: $view-port-mobile;
  padding: 25px 20px 0;
  margin: 0 auto;
}

.stats__heading {
  @include fonttitle;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
}

.stats__paragraph {
  @include font-paragraph;
  margin-bottom: 14px;
  max-width: 280px;
}

.stats__list {
  margin-top: 0;
  max-width: 280px;
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 32px;
}

.stats__item {
  margin-top: 20px;
  width: 124px;
}

.stats__description {
  @include fonttitle;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.stats__slider {
  width: $view-port-mobile;
  margin: 0 auto;
}

@media (min-width: $view-port-tablet) and (max-width: ($view-port-desktop - 1)) {
  .stats__wrapper {
    width: $view-port-tablet;
    padding: 45px 30px 0;
    margin: 0 auto;
    text-align: left;
    position: relative;
  }

  .stats__wrapper::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: -0;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
  }

  .stats__heading {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  .stats__paragraph {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
    max-width: 708px;
  }

  .stats__list-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    align-items: flex-start;
    margin-bottom: 99px;
    max-width: $view-port-tablet;
  }

  .stats__list {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 367px;
    gap: 43px;
    justify-content: space-between;
  }

  .stats__item {
    margin-top: 0;
    flex-shrink: 0;
    width: 162px;
    min-height: 72px;
  }

  .stats__description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 9px;
    padding-top: 11px;
    text-align: right;
    font-size: 20px;
    max-width: 174px;
  }

  .stats__slider {
    width: $view-port-tablet;
  }
}

@media (min-width: $view-port-desktop) {
  .stats {
    display: grid;
    grid-template-columns: 1fr 110px 436px 224px 560px 110px 1fr;
    grid-template-rows: 1fr;
    justify-content: start;
    min-height: 627px;
    min-width: $view-port-desktop;
    margin: 0 auto;
  }

  .stats__wrapper {
    padding: 0;
    grid-column: 3 / 4;
    width: 660px;
  }


  .stats__heading {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 146px;
  }

  .stats__paragraph {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 69px;
    max-width: 432px;
  }

  .stats__list {
    margin-top: 0;
    max-width: 366px;
    margin-bottom: 55px;
    gap: 42px;
  }

  .stats__item {
    margin-top: 0;
    flex-shrink: 0;
    width: 162px;
    min-height: 77px;
  }

  .stats__description {
    width: 327px;
    font-size: 20px;
    margin-bottom: 25px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 63px;
  }
}
